<!-- Il file web.xml serve per il routing, ovvero per lo smistamento delle richieste alle varie pagine, xml riguarda l'informazione e non la formattazione-->

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- Pagina clienti -->
  <servlet>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>ClienteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/clienti</url-pattern>

  </servlet-mapping>

  <servlet>
    <servlet-name>DettaglioClienteServlet</servlet-name>
    <servlet-class>DettaglioClienteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DettaglioClienteServlet</servlet-name>
    <url-pattern>/clienti/*</url-pattern>
    
  </servlet-mapping>
  <!-- Pagina camere -->
  <servlet>
    <servlet-name>CameraServlet</servlet-name>
    <servlet-class>CameraServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CameraServlet</servlet-name>
    <url-pattern>/camere</url-pattern>
  </servlet-mapping>

  <!-- Pagina dettaglio-->
  <servlet>
    <servlet-name>DettaglioCameraServlet</servlet-name>
    <servlet-class>DettaglioCameraServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DettaglioCameraServlet</servlet-name>
    <url-pattern>/camere/*</url-pattern>
  </servlet-mapping>

  <!-- Pagina prenotazioni -->
  <servlet>
    <servlet-name>PrenotazioneServlet</servlet-name>
    <servlet-class>PrenotazioneServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PrenotazioneServlet</servlet-name>
    <url-pattern>/prenotazioni</url-pattern>
  </servlet-mapping>

  <!-- Pagina prenotazione singola -->
  <servlet>
    <servlet-name>PrenotazioneSingolaServlet</servlet-name>
    <servlet-class>PrenotazioneSingolaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PrenotazioneSingolaServlet</servlet-name>
    <url-pattern>/prenotazioni/*</url-pattern>
  </servlet-mapping>

  <!-- Pagina prenotazioni/nuova -->
  <servlet>
    <servlet-name>PrenotazioneNuovaServlet</servlet-name>
    <servlet-class>PrenotazioneNuovaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PrenotazioneNuovaServlet</servlet-name>
    <url-pattern>/prenotazioni/nuova</url-pattern>
    <url-pattern>/PrenotazioneNuovaServlet</url-pattern>
  </servlet-mapping>
  <!-- aggiunta aggiungiiclienteservlet -->
  <servlet>
    <servlet-name>AggiungiClienteServlet</servlet-name>
    <servlet-class>AggiungiClienteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AggiungiClienteServlet</servlet-name>
    <url-pattern>/aggiungiCliente</url-pattern>
  </servlet-mapping>
</web-app>